---
import { getCollection } from "astro:content";
const allServices = await getCollection("services");
---

{
    allServices.map((service) => (
        <figure id={service.data.name.toLowerCase()}>
            <div class="image-overlay">
                <img src={service.data.image} alt={service.data.alt} class={service.data.name.toLowerCase()} loading="lazy" decoding="async"/>
            </div>
            <figcaption>
                <h2>
                    {service.data.name}
                </h2>
                <!--<a href={"/services/" + service.data.name.toLowerCase()}>
                    <h3>
                        Mehr Infos
                    </h3>
                    <span class="material-icons-outlined">arrow_circle_right</span>
                </a>-->
            </figcaption>
        </figure>
    ))
}

<style>
    figure {
        position: relative;

        width: 40vw;
        max-width: 450px;

        margin-left: 2rem;
        margin-right: 2rem;
    }

    img {
        position: relative;

        height: 30em;
        width: 40vw;
        max-width: 450px;

        object-fit: cover;

        border-radius: 10px;
    }

    @media (max-width: 700px) {
        figure {
            width: fit-content;
            max-width: fit-content;
        }

        img {
            width: 80vw;
            max-width: 80vw;
        }
    }

    a {
        display: flex;
        align-items: center;

        background-color: rgba(218, 68, 68, 0.6);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;

        color: rgb(255, 233, 233);

        text-decoration: none;

        font-family: "Open Sans", sans-serif;
        font-size: small;

        margin-top: 1.2em;

        padding: 0.9rem 1.3rem;
    }

    a:hover {
        background-color: rgba(218, 68, 68, 0.85);
    }

    a > span {
        padding-left: 0.5rem;
    }

    h3 {
        margin: 0;
        width: max-content;

        font-weight: 400;
    }

    .bodenlegerei {
        object-position: 50% 60%;
    }

    .brandschutz {
        object-position: 50% 25%;
    }

    .renovierung {
        object-position: center;
    }

    figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        margin-bottom: 0;
        font-family: "Nunito", sans-serif;
        font-size: x-large;

        color: rgb(0, 24, 49);
    }

    .image-overlay::after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(to top, rgba(229, 232, 255, 1), rgba(229, 232, 255, .25));

        border-radius: 10px;
    }
</style>